.profile-container {
    display: flex;
    flex-direction: column;
    padding-top: 70px;
    padding-left: 30px;

}

.title-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 10px;
    margin-top: 10px;
}

.title-container-image {
    margin-right: 20px;
    max-width: 17px;
    width: 17px;
}

.Zeecard-heading-text {
    padding-top: 40px;
    padding-left: 10px;
    color: #2E3E5C;
    font-size: 15px;
    font-weight: 600;
    font-family: 'Montserrat', sans-serif;
}

.title-container-font {
    margin-left: 0;
    font-weight: 500;

    /* Remove margin-left to align to the left side */
    color: #161722;
    font-family: 'Montserrat', sans-serif;
    /* Apply Montserrat font */
}

.heading-text {
    color: #2E3E5C;
    font-family: 'Montserrat', sans-serif;
    font-size: 17px;
    font-weight: 600;
    letter-spacing: 0.5px;
}

.scrollable-container {
    overflow-y: scroll;
    height: 100vh;
    /* Adjust the height as needed */
}

.extra-padding {
    padding-bottom: 70px;
}